<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]FPTBook</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoginFPTBook.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">

    <div class="header-1">

        <a class="logo"> <i class="fas fa-book"></i> FPTBook </a>

        <form asp-controller="Home" asp-action="Search" class="search-form">
            <input type="search" name="search" placeholder="Search here..." id="search-box" required>
            <button style="background-color: #fff;" type="submit"><label for="search-box" class="fas fa-search"></label></button>
        </form>
        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a id="heart" class="fas fa-heart"></a>
            <a id="cart" class="fas fa-shopping-cart" asp-controller="Cart" asp-action="Index"></a>
                <div id ="user" class="dropdowns fas fa-user">
                <div class="content_dropdowns">
                @if (User.Identity.IsAuthenticated)
                {
                  <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                  <form  asp-area="Identity"
                                asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Action("Index",
                                "Home", new { area = "" })">
                                      <button type="submit" id="logoutandlogin" style="background-color: #25aab3;"><a style="font-weight: bold;">Logout</a></button>
                                    </form>
                }
                else{
                  <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                  <a asp-area="Identity" asp-page="/Account/Login">Log in</a>
                }            
                </div>
            </div>
        </div>
    </div>

    <div class="header-2">
        <nav class="navbar">
            <a asp-controller="Home" asp-action="Index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
              <a asp-controller="Home" asp-action="OrderHistory">Order History</a>
            }
            
            @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
            {
              <div class="dropdown">
                <button class="button_dropdown">Management</button>
                <div class="content_dropdown">
                  @if (User.IsInRole("Admin"))
                  {
                    <a asp-controller="Account" asp-action="Index">Account</a>
                    <a asp-controller="Publisher" asp-action="Index">Publisher</a>
                  }
                  @if (User.IsInRole("Admin") || User.IsInRole("Owner"))
                  {
                    <a asp-controller="Order" asp-action="Index">Order</a>
                    <a asp-controller="Category" asp-action="Index">Category</a>
                    <a asp-controller="Book" asp-action="Index">Book</a>
                  }

                </div>
              </div>
            }
            @* <a asp-controller="Home" asp-action="Help">Help</a> *@
        </nav>
    </div>

    <div class="header-3">

        <div class="icons">

            <a href="#" class="fas fa-heart"></a>
            <a class="fas fa-shopping-cart" asp-controller="Cart" asp-action="Index"></a>
                <div class="dropdowns fas fa-user">
                <div class="content_dropdowns">
                @if (User.Identity.IsAuthenticated)
                {
                  <a asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a>
                  <a asp-area="Identity" asp-page="/Account/Logout" >Log out</a>
                }
                else{
                  <a asp-area="Identity" asp-page="/Account/Register">Register</a>
                  <a asp-area="Identity" asp-page="/Account/Login">Log in</a>
                }            
                </div>
            </div>
        </div>
    </div>

    </header>
    <div class="container">
        <main style="min-height: calc(100vh - 116px - 56px - 246px);" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LoginFPTBook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@

    <footer>
        @* <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        </div> *@
    <div class="content">
      <div class="top">
        <div class="logo-details">
          <i class="fab fa-slack"></i>
          <span class="logo_name">FPTBook</span>
        </div>
        <div class="media-icons">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="link-boxes">
        <ul class="box">
          <li class="link_name">Company</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Get started</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Services</li>
          <li><a asp-controller="Home" asp-action="Help">Help Screen</a></li>
          <li><a href="#">Web design</a></li>
          <li><a href="#">Logo design</a></li>
          <li><a href="#">Banner design</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Account</li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">My account</a></li>
          <li><a href="#">Prefrences</a></li>
          <li><a href="#">Purchase</a></li>
        </ul>
        <ul class="box">
          <li class="link_name">Courses</li>
          <li><a href="#">HTML & CSS</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Photography</a></li>
          <li><a href="#">Photoshop</a></li>
        </ul>
        <ul class="box input-box">
          <li class="link_name">Subscribe</li>
          <li><input type="text" placeholder="Enter your email"></li>
          <li><input type="button" value="Subscribe"></li>
        </ul>
      </div>
    </div>
    <div class="bottom-details">
      <div class="bottom_text">
        <span class="copyright_text">Copyright © 2022 <a href="#">FPTBook</a></span>
        <span class="policy_terms">
          <a href="#">Privacy policy</a>
          <a href="#">Terms & condition</a>
        </span>
      </div>
    </div>
  </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>