@{
    ViewData["Title"] = "updateAccount";
}

<style>
    h2{
        padding-top: 5px;
    }
    #updateAccountForm{
        padding-left: 150px;
        padding-right: 150px;
    }
    .btnUpdate{
        display: flex;
        text-align: center;
    }
</style>

<div class="row">
    <div class="container">
        <form id="updateAccountForm" method="post">
            <h2>Update Account</h2>
            <button  asp-controller="Account" asp-action="Index" class="w-10 btn btn-lg btn-primary">Back</button>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input  class="form-control" aria-required="true" />
                <label>USerID</label>
                <span  class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input  class="form-control" aria-required="true" />
                <label >UserName</label>
                <span  class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input  class="form-control" aria-required="true" />
                <label >Role</label>
                <span  class="text-danger"></span>
            </div>
            <br>
         
            <div class="form-floating">
                <p>Status:</p>
                <input type="radio"  value="Male" checked> Available
                <br>
                <br>
                <input type="radio"  value="Female"> Unavailable
                <span  class="text-danger"></span>
            </div>
            <br>
            
             <div class="btnUpdate">
                <button id="updateSubmit" type="submit" class="w-10 btn btn-lg btn-primary">Update</button>
             </div>              
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}