@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<style>
    h2{
        display: block;
        padding-left: 250px;
        padding-top: 10px;
    }

    #profile-form{
        padding-left: 100px;
    }

    .gender{
        display: flex;
    }
</style>

<h2>Profile</h2>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" disabled/>
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="Input.User_Fullname" class="form-control" />
                <label asp-for="Input.User_Fullname" class="form-label"></label>
                <span asp-validation-for="Input.User_Fullname" class="text-danger"></span>
            </div>
            <br><label>Gender:</label>
            <div class="form-floating">
                
                @if (@Model.Input.User_Gender == "Male")
                {   
                    <div class="gender">
                        <input type="radio" asp-for="Input.User_Gender" value="Male" checked>Male
                        <p style="color: #5795b3;">..................</p><br><br> 
                         
                        <input type="radio" asp-for="Input.User_Gender" value="Female">Female
                    </div>
                    
                }
                else{
                    <div class="gender">
                        <input type="radio" asp-for="Input.User_Gender" value="Male" >Male
                        <p style="color: #5795b3;">..................</p><br><br> 
                         
                        <input type="radio" asp-for="Input.User_Gender" value="Female" checked>Female
                    </div> 
                }             
                <span asp-validation-for="Input.User_Gender" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="Input.User_Address" class="form-control" />
                <label asp-for="Input.User_Address" class="form-label"></label>
                <span asp-validation-for="Input.User_Address" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <br>
            <div class="form-floating">
                <input asp-for="Input.User_Birthdate" class="form-control" />
                <label asp-for="Input.User_Birthdate" class="form-label"></label>
                <span asp-validation-for="Input.User_Birthdate" class="text-danger"></span>
            </div>
            <br>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            <br>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
