@{
    ViewData["Title"] = "Index";
}

<style>
    
    #statisticsForm{
        padding-left: 150px;
        padding-right: 150px;
    }
    #table{
        padding-left: 150px;
        padding-right: 150px;
    }
    #head{
        padding-left: 150px;
        padding-right: 150px;
    }
</style>    
    
<div id="main">
    <div id="head">
        <h3>Manager Statistics</h3>
         <button  asp-controller="Home" asp-action="Index" class="w-10 btn btn-lg btn-primary">HomePage</button>
    </div>
    <br>
    <form id="statisticsForm">
    <div class="container" style="display: flex">
        <select class="form-select" required="required" style="width:100px, display: flex" name="sort" id="sort">
            <option value="" selected>Choose how to sort</option>

                <option value="1" >From high to low</option>
                <option value="2" >From low to high</option>

                @* <option value="1" >From high to low</option>
                <option value="2" selected>From low to high</option>

                <option value="1">From high to low</option>
                <option value="2">From low to high</option> *@


        </select>
        <p style="color: #5795b3;">......................................................................................................</p>
        <select class="form-select" required="required" style="width:100px, display: flex" name="typeSort" id="typeSort">
                <option value="" selected>Choose type to sort</option>

                <option value="1" selected>Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option>

                @* <option value="1" >Number of Order</option>
                <option value="2" selected>Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option>

                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" selected>Revenue</option>
                <option value="4" >Interest</option>

                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" selected>Interest</option>

                <option value="1" >Number of Order</option>
                <option value="2" >Number of Product</option>
                <option value="3" >Revenue</option>
                <option value="4" >Interest</option> *@

        </select>
    </div>
    <div class="container" >
        <br>
        <label>Choose time from:</label>
        <input required="required" id="timeFrom" class="form-control" type="date" name="timeFrom" value ="" style="width:200px"/> 
        <br>
        <label>Choose time to:</label>
        <input required="required" id="timeTo" class="form-control" type="date" name="timeTo" value ="" style="width:200px"/>
        <br>
        <button class="w-10 btn btn-lg btn-primary">Submit</button> 
    </div>
    </form>

    <div id="table" >
    <div class="container mb-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Address</th>
                    <th scope="col" class="text-center"> Number of Order</th>
                    <th scope="col" class="text-center"> Number of Product</th>
                    <th scope="col" class="text-center">Revenue</th>
                    <th scope="col" class="text-center">Interest</th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td class="text-center"></td>          
                        <td class="text-center"></td>          
                        <td class="text-center"></td>          
                        <td class="text-center"></td>          
                    </tr>                             
                </tbody>
        </table>
    </div>
    </div>
</div>
</main>